
@{
    ViewBag.Title = "ForgotPasswordConfirmation";
}

<h2 class="page-header">Forgot Password Confirmation</h2>


<div class="alert alert-success">
    <h3>
        An Email has been sent to your email-adress.
        Please check your <b>email</b> to reset your password.
    </h3>
   
</div>
