
@{
    ViewBag.Title = "Unauthorized";
}

<h2>Unauthorized</h2>

<div class="alert alert-danger" style="color:black">
    <h3>
        You dont have Authorization here.<br />
        Probably you have to be ADMINISTRATOR to get this content.
    </h3>
</div>

<span class="alert alert-success">
    <a href="/Account/LogInAsAdmin"> Log in As Administrator </a>
</span>

