

<h2>Welcome to Admin Panel</h2>
<style>

</style>

<div class="row">
    <div class="col-md-3">
        <a href="~/Customers">
            <div class="alert alert-success text-center">
                Customers
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="~/Projects">
            <div class="alert alert-success text-center">
                Projects
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="~/Tasks">
            <div class="alert alert-success text-center">
                Tasks
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="~/Users">
            <div class="alert alert-success text-center">
                Users
            </div>
        </a>
    </div>

</div>




