
@{
    ViewBag.Title = "Index";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    @Html.Partial("_AdminPanel")
}
else if (User.Identity.IsAuthenticated && User.IsInRole("User"))
{
    @Html.Partial("_UserPanel")
}
else
{
    <h2>Welcome to Home Page</h2>

    <span>
        Login as adimn: admin@admin.com <br />
        password : Admin123#
            
    </span>
}







