
@{
    ViewBag.Title = "UnregisteredPanel";
}

<h2 class="page-header">Un-Activated</h2>

<div class="alert alert-info">
    <h4>Welcome User</h4>
    <h4>Seems your account is not Activated. After the Administrator activates you you can continue.</h4>
</div>
